						<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a><%= link_to "Home", root_path %></a></li>
								<li>
									<a><%= link_to "Test", pages_test_path %></a>
								</li>
								<li><a><%= link_to "Login", users_login_path %></a></li>
								<li><a><%= link_to "About Us", pages_about_us_path %></a></li>
							</ul>
						</nav>